@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');

:root{
    --Brigh-tRed: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Vary-Light-Gray: hsl(0, 0%, 98%);
}



/* Estilos generales */

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: "Be Vietnam Pro" , "sans-serif";
    margin: 0% auto;
    justify-content: center;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*tipografia*/

h1, h2, h3{
    color: var(--Dark-Blue);
    
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1rem;
    text-align: center;
}

p{
    font-size: 1.5rem;
    color: var(--Dark-Grayish-Blue);
    line-height: 2.5rem;
}

/* botones */

.button{
    background-color: var(--Brigh-tRed);
    padding: 1rem 3rem;
    color: var(--Vary-Light-Gray);
    border-radius: 30px;
    font-weight: 500;
    -webkit-box-shadow: 0px 13px 19px -2px rgb(233, 86, 1);
    -moz-box-shadow: 0px 13px 19px -2px rgb(240, 124, 30);
    box-shadow: 0px 8px 11px -1px rgb(212, 157, 119);
}

.button-nav{
    display: none;
}

.toggle{
    border: none;
    background: none;
}

/* header */

.menu{
    display: none;
}

.nav-container{
   display: flex;
   justify-content: space-between;
   width: 95%; 
   margin: 40px auto;
   max-width: 1110px;
}

.pattern{
    width: 300px;
}

/*main*/

.main-container{
    width: 90%;
    max-width: 1100px;
    margin: 0% auto;
}

.main-text{
    text-align: center;
}

.text{
    margin-bottom: -1rem;
}

.main-text p{
    margin-bottom: 30px;
    padding: 1rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: normal;
    
}

.main-image{
    max-width: 350px;
    margin: 0% auto;
}

.main-image img{
    width: 100%;
}

/*card*/

.tittle{
    background-color: var(--Very-Pale-Red);
    margin-left: 1rem;  
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 30px 0px 0px 30px;
}

.diference{
    text-align: center;
    margin: 1.5rem;
}

.diference p{
    color: var(--Dark-Grayish-Blue);
}

.diference h2{
    font-size: 2.5rem;
    margin-top: 8rem;
    font-weight: 700;
}

.container-card{
    margin-top: 5rem;
}

.container-card h3{
    font-size: 1.2rem;
}

.container-card p{
   margin: 1rem;
   font-size: 1.3rem;
}
 
.number{
    background-color: var(--Brigh-tRed);
    padding: 1rem 2.5rem;
    color: var(--Vary-Light-Gray);
    border-radius: 30px;
    font-weight: 500;
    margin-right: 1rem;

}







/*Avatars*/

.ab{
    background-color: var(--Brigh-tRed);
    padding: 1rem 3rem;
    color: var(--Vary-Light-Gray);
    border-radius: 30px;
    font-weight: 500;
    -webkit-box-shadow: 0px 13px 19px -2px rgb(233, 86, 1);
    -moz-box-shadow: 0px 13px 19px -2px rgb(240, 124, 30);
    box-shadow: 0px 8px 11px -1px rgb(212, 157, 119);
}

.button-avatars{
    
}


























.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }